<!DOCTYPE html>
<html>
<head>
    <script src="../../script.js"></script>

</head>

<body>

    <div class="container-fluid p-md-3 d-none d-sm-block" style="height: 30%;">
        <div class="row align-items-center" style="padding: 2%">
            <div class="col-6">
                <p class="m-0" style="
                  font-family: Merriweather;
                  font-size: 2vw;
                  font-weight: 700;
    
                " id="f">
                    Chief of Stuff
                </p>
            </div>
            <div class="col-6 d-flex justify-content-end">

                <button class="" onclick="window.open(linkMob, '_blank')" style="border-radius: 16px;
                padding: 24px 40px 24px 40px;
                background: #ED6838;
                box-shadow: 0px 0px 12px rgba(251, 97, 42, 0.4);
                border-radius: 16px;
                border: none;
                color: white;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
                margin-right: 10px;" type="button">Purchase Latest Issue</button>
                </button>
            </div>
        </div>
    </div>

</body>

</html>