<div class="container-fluid ">
    <div class="container-fluid align-content-center justify-content-center  d-none d-sm-block" style="
              border-radius: 40px;
              background-color: #F1EFEA;
              padding: 48px;
              margin-top: 8%;
              margin-bottom: 5%;
            ">



      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home-d" style="border-radius: 16px;
    background: #ED6838;
    box-shadow: 0px 0px 12px rgba(251, 97, 42, 0.4);
    border-radius: 16px;padding: 30px;
  padding-top: 18px;
    margin-right: 10px;margin-bottom: 10px;
  padding-bottom: 16px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
            <h5 class="text-center" id="text1-d">
              The Magazine</h5>
          </button>
        </li>
        <li class="nav-item  d-none" role="presentation">
          <button class="" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile-d" style="border-radius: 16px;
            background: #FFFFFF52;
            box-shadow: none;
            border-radius: 16px;padding: 30px;
            padding-top: 18px;
            margin-right: 10px;margin-bottom: 10px;
            padding-bottom: 16px;
            border: none;
            color: black;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
            <h5 class="text-center" id="text2-d">
              Articles</h5>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact-d" style="border-radius: 16px;
            background: #FFFFFF52;
            box-shadow: none;
            border-radius: 16px;padding: 30px;
            padding-top: 18px;
            margin-right: 10px;margin-bottom: 10px;
            padding-bottom: 16px;
            border: none;
            color: black;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
            <h5 class="text-center" id="text3-d">
              My Story</h5>
          </button>
        </li>

      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home-d" role="tabpanel" aria-labelledby="pills-home-tab"
          tabindex="0">
          <div class="container-fluid ">
            <div class="row" style="background-color: #F1EFEA;">
              <div class="col-md-7" style="height: 60vw;">
                <div class="column d-flex flex-column align-items-center  justify-content-center">
                  <div class="col-md-6" style="width: 100%;align-items: center ;">
                    <!-- Element 1: Container with image and zoom button -->
                    <div class="position-relative  d-flex align-content-center justify-content-center">
                      <img src="img\images\Issue4\1.png" class="img-fluid1" id="mag-head-d" alt="Image"
                        style="height: 50vh;padding: 5%;align-self: center;">
                      <button type="button" class="btn position-absolute bottom-0 end-0" style="height: 56px;
                          width: 56px;
                          border-radius: 16px;
                          padding: 12px;
                          background-color: #FAF8F4;
                          border: none;">
                        <img src="img/icons/zoom.png" class="img-fluid" alt="Image" data-toggle="modal"
                          data-target="#imageModal" onclick="window.open(issues[issueNo].cover[imgNo],'_blank');">
                        <script>
                          var imageNo = 0;
                        </script>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <!-- Element 2: Row of 2 image buttons -->
                    <div class="d-flex justify-content-center" style="margin-top: 10%;margin-bottom: 10%;padding: 10%; "
                      id="magImages">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-5" style="height: 60vw;padding-left: 5%;">
                <ul class="nav nav-pills nav-justified mb-3" id="pills-tabs2" role="tablist">
                  <li class="nav-item" role="presentation" id="navIt"><button class="active" id="magBtn0"
                      style="font-family: Inter; font-size: 1vw; 
                  font-weight: 600;text-align: center; color: #000000;border:none;border-bottom: 3px solid black;background-color: #F1EFEA;" data-bs-toggle="pill" data-bs-target="#pills-issues"
                      type="button" role="tab" aria-controls="pills-issue" aria-selected="true">This Issue</button></li>

                  <li class="nav-item" role="presentation" id="navIt"><button class="" id="navBtn1"
                      style="font-family: Inter; font-size: 1vw; font-weight: 600;text-align: center; color: #000000;border:none;background-color: #F1EFEA;"
                      data-bs-toggle="pill" data-bs-target="#pills-highlight" type="button" role="tab"
                      aria-controls="pills-high" aria-selected="false">Highlights</button></li>

                  <li class="nav-item" role="presentation" id="navIt"><button class="" id="navBtn2"
                      style="font-family: Inter; font-size: 1vw; font-weight: 600;text-align: center; color: #000000;border:none;background-color: #F1EFEA;"
                      data-bs-toggle="pill" data-bs-target="#pills-aboutsect" type="button" role="tab"
                      aria-controls="pills-about" aria-selected="false">About</button></li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-issues" role="tabpanel"
                    aria-labelledby="pills-issue-tab" tabindex="0">
                    <div class="row">
                      <h1 class="text1 mt-5" id="magTitle"
                        style="font-family: Merriweather; font-size: 3vw; font-weight: 700;">Issue #4</h1>
                      <p class="text2" id="magDiscription"
                        style="font-family: Inter; font-size: 1.5vw; font-weight: 400; margin-top: 5%;">...</p><button
                        class="btn btn1" id="getNowBtn"
                        style="width: 100%; border-radius: 16px; padding: 24px 16px 24px 2px; background: #ED6838; box-shadow: 0px 4px 16px rgba(251, 97, 42, 0.8); border-radius: 16px;margin-top: 5%;"
                        onclick="openPaymentWindow()">
                        <h1 class="text1"
                          style="font-family: Inter; font-size: 1.5vw; font-weight: 700; color: white;padding: 0;margin: 0;">
                          Get It Now!</h1>
                      </button>
                      <script>
                        function openPaymentWindow() {
                          var link = issues[issueNo].paymentLink;
                          const urlParams = new URLSearchParams(window.location.search);
                          const subscriber = urlParams.get('subscriber');

                          // Check if the value is true or false
                          if (subscriber !== null) {
                            if (subscriber === 'true') {
                            } else {
                              linkMob = issues[issueNo].paymentLinkNoOffer;
                            }
                          }
                          else {

                            linkMob = issues[issueNo].paymentLinkNoOffer;
                          }
                          window.open(linkMob, "_blank");
                        }
                      </script>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="pills-highlight" role="tabpanel" aria-labelledby="pills-high-tab"
                    tabindex="0">
                    <div class="container">
                      <div class="col">
                        <p
                          style="margin-left: 2vw; margin-top: 2vw; font-family: Inter; font-size: 1.5vw; font-weight: 400; color: #46443B;">
                          Some of the topics covered in this issue of The Quarterly All Hands</p>
                      </div>
                      <ul id="highlightsTab" style="margin: 0%;">
                        <!-- List items will go here -->
                      </ul>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="pills-aboutsect" role="tabpanel" aria-labelledby="pills-about-tab"
                    tabindex="0">
                    <h1 class="text1 mt-5" style="font-family: Merriweather; font-size: 54px; font-weight: 700;">The
                      Quarterly All Hands</h1>
                    <p class="text2" style="font-family: Inter; font-size: 24px; font-weight: 400; margin-top: 5%;">The
                      Quarterly All Hands is designed to be enjoyed at your leisure - while at lunch, riding the train,
                      as a break from your feed, or when you're bored. Wherever you are, we hope you find inspiration,
                      get lost in the pages, and discover something new.</p>
                  </div>
                </div>
              </div>

              <script>
                const naviItems = document.querySelectorAll('#navIt');

                // add a click event listener to each button
                naviItems.forEach((naviItem) => {
                  naviItem.addEventListener('click', () => {
                    // remove the border from all buttons
                    naviItems.forEach((item) => {
                      item.querySelector('button').style.borderBottom = 'none';
                    });
                    // add the border to the clicked button
                    naviItem.querySelector('button').style.borderBottom = '3px solid black';
                  });
                });
              </script>
            </div>
          </div>
        </div>
        <div class="tab-pane fade  d-none" id="pills-profile-d" role="tabpanel" aria-labelledby="pills-profile-tab"
          tabindex="0">
          <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation" id="navItems">
              <button class="active" id="navBtn0"
                style="font-family: Inter; font-size: 1vw; font-weight: 600;text-align: center; color: #000000;border:none;border-bottom: 3px solid black;"
                data-bs-toggle="pill" data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-home"
                aria-selected="true">#thought leadership</button>
            </li>
            <li class="nav-item" role="presentation" id="navItems">
              <button class="" id="navBtn1"
                style="font-family: Inter; font-size: 1vw; font-weight: 600;text-align: center; color: #000000;border:none"
                data-bs-toggle="pill" data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-profile"
                aria-selected="false">#engineering</button>
            </li>
            <li class="nav-item" role="presentation" id="navItems">
              <button class="" id="navBtn2"
                style="font-family: Inter; font-size: 1vw; font-weight: 600;text-align: center; color: #000000;border:none"
                data-bs-toggle="pill" data-bs-target="#pills-3" type="button" role="tab" aria-controls="pills-contact"
                aria-selected="false">#one on one</button>
            </li>
            <li class="nav-item" role="presentation" id="navItems">
              <button class="" id="navBtn3"
                style="font-family: Inter; font-size: 1vw; font-weight: 600;text-align: center; color: #000000;border:none"
                data-bs-toggle="pill" data-bs-target="#pills-4" type="button" role="tab" aria-controls="pills-contact"
                aria-selected="false">#crypto 101</button>
            </li>
            <li class="nav-item" role="presentation" id="navItems">
              <button class="" id="navBtn4"
                style="font-family: Inter; font-size: 1vw; font-weight: 600;text-align: center; color: #000000;border:none"
                data-bs-toggle="pill" data-bs-target="#pills-5" type="button" role="tab" aria-controls="pills-contact"
                aria-selected="false">#rest of world</button>
            </li>
            <li class="nav-item" role="presentation" id="navItems">
              <button class="" id="navBtn5"
                style="font-family: Inter; font-size: 1vw; font-weight: 600;text-align: center; color: #000000;border:none"
                data-bs-toggle="pill" data-bs-target="#pills-6" type="button" role="tab" aria-controls="pills-contact"
                aria-selected="false">#rest of world</button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab"
              tabindex="0">
              <div class="container-fluid  d-none d-sm-block" style="padding: 3%;padding-top: 2%;padding-bottom: 1%;">
                <div class="row">
                  <div class="col-12 ">
                    <div class="row align-items-center" id="articles">
                    </div>
                  </div>
                </div>
                <div class="container-fluid"></div>
                <div class="row">
                  <div class="col-1"> <button class="d-flex justify-content-end" type="button "
                      style="border: none; border-radius: 16px; padding: 16px; background: #FAF8F4; ">
                      <span aria-hidden="true"><i class="bi bi-chevron-left text-black"></i></span>
                    </button></div>
                  <div class="col-10"></div>
                  <div class="col-1"><button class="d-flex justify-content-end" type="button"
                      style="border: none; border-radius: 16px; padding: 16px; background: #FAF8F4; ">
                      <span aria-hidden="true"><i class="bi bi-chevron-right text-black"></i></span>
                    </button></div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab" tabindex="0">
              <div class="container-fluid  d-none d-sm-block" style="padding: 3%;padding-top: 2%;padding-bottom: 1%;">
                <div class="row">
                  <div class="col-12 ">
                    <div class="row align-items-center" id="articles2">
                    </div>
                  </div>
                </div>
                <div class="container-fluid"></div>
                <div class="row">
                  <div class="col-1"> <button class="d-flex justify-content-end" type="button "
                      style="border: none; border-radius: 16px; padding: 16px; background: #FAF8F4; ">
                      <span aria-hidden="true"><i class="bi bi-chevron-left text-black"></i></span>
                    </button></div>
                  <div class="col-10"></div>
                  <div class="col-1"><button class="d-flex justify-content-end" type="button"
                      style="border: none; border-radius: 16px; padding: 16px; background: #FAF8F4; ">
                      <span aria-hidden="true"><i class="bi bi-chevron-right text-black"></i></span>
                    </button></div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab" tabindex="0">
              <div class="container-fluid  d-none d-sm-block" style="padding: 3%;padding-top: 2%;padding-bottom: 1%;">
                <div class="row">
                  <div class="col-12 ">
                    <div class="row align-items-center" id="articles3">
                    </div>
                  </div>
                </div>
                <div class="container-fluid"></div>
                <div class="row">
                  <div class="col-1"> <button class="d-flex justify-content-end" type="button "
                      style="border: none; border-radius: 16px; padding: 16px; background: #FAF8F4; ">
                      <span aria-hidden="true"><i class="bi bi-chevron-left text-black"></i></span>
                    </button></div>
                  <div class="col-10"></div>
                  <div class="col-1"><button class="d-flex justify-content-end" type="button"
                      style="border: none; border-radius: 16px; padding: 16px; background: #FAF8F4; ">
                      <span aria-hidden="true"><i class="bi bi-chevron-right text-black"></i></span>
                    </button></div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab" tabindex="0">
              <div class="container-fluid  d-none d-sm-block" style="padding: 3%;padding-top: 2%;padding-bottom: 1%;">
                <div class="row">
                  <div class="col-12 ">
                    <div class="row align-items-center" id="articles4">
                    </div>
                  </div>
                </div>
                <div class="container-fluid"></div>
                <div class="row">
                  <div class="col-1"> <button class="d-flex justify-content-end" type="button "
                      style="border: none; border-radius: 16px; padding: 16px; background: #FAF8F4; ">
                      <span aria-hidden="true"><i class="bi bi-chevron-left text-black"></i></span>
                    </button></div>
                  <div class="col-10"></div>
                  <div class="col-1"><button class="d-flex justify-content-end" type="button"
                      style="border: none; border-radius: 16px; padding: 16px; background: #FAF8F4; ">
                      <span aria-hidden="true"><i class="bi bi-chevron-right text-black"></i></span>
                    </button></div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-5" role="tabpanel" aria-labelledby="pills-5-tab" tabindex="0">
              <div class="container-fluid  d-none d-sm-block" style="padding: 3%;padding-top: 2%;padding-bottom: 1%;">
                <div class="row">
                  <div class="col-12 ">
                    <div class="row align-items-center" id="articles5">
                    </div>
                  </div>
                </div>
                <div class="container-fluid"></div>
                <div class="row">
                  <div class="col-1"> <button class="d-flex justify-content-end" type="button "
                      style="border: none; border-radius: 16px; padding: 16px; background: #FAF8F4; ">
                      <span aria-hidden="true"><i class="bi bi-chevron-left text-black"></i></span>
                    </button></div>
                  <div class="col-10"></div>
                  <div class="col-1"><button class="d-flex justify-content-end" type="button"
                      style="border: none; border-radius: 16px; padding: 16px; background: #FAF8F4; ">
                      <span aria-hidden="true"><i class="bi bi-chevron-right text-black"></i></span>
                    </button></div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-6" role="tabpanel" aria-labelledby="pills-6-tab" tabindex="0">
              <div class="container-fluid  d-none d-sm-block" style="padding: 3%;padding-top: 2%;padding-bottom: 1%;">
                <div class="row">
                  <div class="col-12 ">
                    <div class="row align-items-center" id="articles6">
                    </div>
                  </div>
                </div>
                <div class="container-fluid"></div>
                <div class="row">
                  <div class="col-1"> <button class="d-flex justify-content-end" type="button "
                      style="border: none; border-radius: 16px; padding: 16px; background: #FAF8F4; ">
                      <span aria-hidden="true"><i class="bi bi-chevron-left text-black"></i></span>
                    </button></div>
                  <div class="col-10"></div>
                  <div class="col-1"><button class="d-flex justify-content-end" type="button"
                      style="border: none; border-radius: 16px; padding: 16px; background: #FAF8F4; ">
                      <span aria-hidden="true"><i class="bi bi-chevron-right text-black"></i></span>
                    </button></div>
                </div>
              </div>
            </div>
          </div>

          <script>
            const navItems = document.querySelectorAll('#navItems');
            // add a click event listener to each button
            navItems.forEach((navItem) => {
              navItem.addEventListener('click', () => {
                // remove the border from all buttons
                navItems.forEach((item) => {
                  item.querySelector('button').style.borderBottom = 'none';
                });
                // add the border to the clicked button
                navItem.querySelector('button').style.borderBottom = '3px solid black';
              });
            });

            document.addEventListener('DOMContentLoaded', function () {
              const container = document.getElementById('articles');
              const container2 = document.getElementById('articles2');
              const container3 = document.getElementById('articles3');
              const container4 = document.getElementById('articles4');
              const container5 = document.getElementById('articles5');
              const container6 = document.getElementById('articles6');

              var list = [container, container2, container3, container4, container5, container6];

              // Loop through the desired number of elements and create them
              for (let i = 0; i < issues.length; i++) {
                // Create a new div element
                for (let j = 0; j < list.length; j++) {
                  const newDiv = document.createElement("div");

                  // Set the class and style attributes of the div
                  newDiv.setAttribute("class", "col-3");
                  newDiv.setAttribute("style", "border-radius: 16px; padding: 16px; background: #FAF8F4;margin: 0.5vw;width:20vw");

                  // Add the code to the innerHTML of the div
                  newDiv.innerHTML = `
                    <div class="col">
                      <button class="btn btn-light" style="
                            width: 54px;
                            height: 54px;
                            background-color:#ED683866;
                            border: none;
                            border-radius: 16px;
                          ">
                        <img src="img/icons/arti.png" alt="image-description-here" style="width: 100%; height: auto" />
                      </button>
                      <div class="col">
                        <p class="d-none d-sm-block" style="
                              font-family: Merriweather;
                              font-weight: 700;
                              font-size: 1.5vw;
                              margin-top: 2%;
                            ">
                            Stop to Smell the Roses:
                        </p>

                        <p class=" d-block d-sm-none" style="
                              font-family: Merriweather;
                              font-weight: 700;
                              font-size: 5vw;
                            ">
                            Stop to Smell the Roses:
                        </p>
                      </div>
                      <div class="col">
                        <p class="text-break d-none d-sm-block" style="
                              font-family: Inter;
                              font-weight: 500;
                              font-size: 1vw;
                            ">
                            The history of the English rose and the man behind the bouquet.
                        </p>

                        <p class="text-break d-block d-sm-none" style="
                              font-family: Inter;
                              font-weight: 500;
                              font-size: 4vw;
                            ">
                            The history of the English rose and the man behind the bouquet.
                        </p>
                      </div>
                    </div>
                    `;
                  // Add the new div to the container element
                  list[j].appendChild(newDiv);
                }


              }

              const images = document.querySelectorAll('#issuesImg');
              const issueText = document.querySelectorAll('#issuesText');


              for (let i = 0; i < images.length; i++) {

                images[i].setAttribute('src', issues[i].cover[0]);
                issueText[i].innerText = `${issues[i].title}`;
              }
            });
          </script>
        </div>
        <div class="tab-pane fade" id="pills-contact-d" role="tabpanel" aria-labelledby="pills-contact-tab"
          tabindex="0">
          <div style="
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          background-color: #F1EFEA;
          padding-top: 3%;
        ">
            <img class="img-fluid" src="img/images/ourStory.png" alt="Image" style="width:40vw; align-self: start;" />
            <div class="col" style="align-self: start;">
              <h1 style="
            font-family: Merriweather;
            font-size: 4em;
            font-weight: 700;
            text-align: left;
            color: #1a1a17;
            margin-left: 3%;
            margin-top: 3%;
          ">
                A little backstory
              </h1>
              <p style="
            font-family: Inter;
            font-size: 24px;
            font-weight: 400;
            text-align: left;
            color: #5c5c5c;
            padding: 2%;
          ">
                Hi, I’m Sarah Maxwell aka the Chief of Stuff! There’s a lot of stuff out there, but what actually
                matters? This question prompted my curiosity and in August of 2020 I launched Chief of Stuff, a new
                media platform, that’s your source for useful, entertaining, educational, and inspirational STUFF.
              <p style="
            font-family: Inter;
            font-size: 24px;
            font-weight: 400;
            text-align: left;
            color: #5c5c5c;
            padding: 2%;
          "> In a world filled with noise, our goal is to enable more voices to shine and allow our collective
                knowledge
                base to grow. After all, life is about learning and your curiosity is calling!
              </p>
              <p style="
            font-family: Inter;
            font-size: 24px;
            font-weight: 400;
            text-align: left;
            color: #5c5c5c;
            padding: 2%;
          ">You can read more about
                <snap style="
                font-weight: 600;color: #ED6838;cursor: pointer;"
                  onclick="window.open('https://adelebarlow.com/blog/chief-of-stuff-sarah-maxwell','black');"> my story
                  here.</snap>
              </p>
              </p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>