<div class="container d-block d-sm-none " style="height: 30%;margin-top: 2%;">
    <div class="row align-items-center">
      <div class="col-8">
        <p class="d-flex align-content-center" style="
              font-family: Merriweather;
              font-size: 6vw;
              font-weight: 700;
              margin-top: 5%;
            " ;>
          Chief of Stuff
        </p>
      </div>
      <div class="col-4 d-flex justify-content-end">

        <button class="" onclick="window.open(linkDesktop, '_blank')" style="border-radius: 16px;
            padding: 20%;
            padding-top: 10%;
            padding-bottom: 10%;
            background: #ED6838;
            box-shadow: 0px 0px 12px rgba(251, 97, 42, 0.4);
            border-radius: 16px;
            border: none;
            color: white;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;" type="button">Purchase</button>
        </button>
      </div>
    </div>
  </div>