<div class=" 
      d-block d-sm-none
      " style="margin-top: 20%;margin-bottom: 10%;margin-left: 5vw;">

    <div class="col-12">
      <p class="text" style="font-family: Merriweather;font-size: 32px;font-weight: 700;margin-bottom: 2%;">Previous
        Issues</p>
    </div>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner" id="mobCaro">


      </div>



    </div>
    <div class="align-content-start" style="margin-bottom: 5%;">
      <button class="" type="button" id="prevMob" data-bs-target="#carouselExample" data-bs-slide="prev"
        style="border: none; border-radius: 16px; padding: 16px; background: #FAF8F4; ">
        <span aria-hidden="true"><i class="bi bi-chevron-left text-black"></i></span>
      </button>
      <button class="" type="button" id="nextMob" data-bs-target="#carouselExample" data-bs-slide="next"
        style="border: none; border-radius: 16px; padding: 16px; background: #FAF8F4; ">
        <span aria-hidden="true"><i class="bi bi-chevron-right text-black"></i></span>

      </button>
    </div>
  </div>