<div class="container-fluid" style=" margin-top: 2%;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10 d-none  d-sm-block">
          <p class="text-left" style="
                font-family: Merriweather;
                font-size: 2vw;
                font-weight: 700;
              ">
            Chief Of Stuff
          </p>
        </div>
        <div class="col-2 d-flex justify-content-end d-none  d-sm-block">
          <div class="row">
            <div class="col-4">
              <button class="btn btn-primary" style="
                    height: 40px;
                    width: 40px;
                    border-radius: 10px;
                    border: none;
                    background-color: #e9e6e0;
                    padding: 5%;
                  ">
                <img src="img/icons/instagram.png" alt="Image 1" class="img-fluid"
                  onclick="window.open('https://instagram.com/chief.of.stuff.inc?igshid=Mzc1MmZhNjY=', '_blank')" />
              </button>
            </div>
            <div class="col-4">
              <button class="btn btn-primary" style="
                    height: 40px;
                    width: 40px;
                    border-radius: 10px;
                    border: none;
                    background-color: #e9e6e0;
                    padding: 5%;
                  ">
                <img src="img/icons/tiktok.png" alt="Image 2" class="img-fluid"
                  onclick="window.open('https://vm.tiktok.com/ZMYVFYEw6/', '_blank')" />
              </button>
            </div>
            <div class="col-4">
              <button class="btn btn-primary" style="
                    height: 40px;
                    width: 40px;
                    border-radius: 10px;
                    border: none;
                    background-color: #e9e6e0;
                    padding: 5%;
                  ">
                <img src="img/icons/linkedIn.png" alt="Image 3" class="img-fluid"
                  onclick="window.open('https://www.linkedin.com/company/chief-of-stuff-inc', '_blank')" />
              </button>
            </div>
          </div>
        </div>

        <div class="col d-flex d-block  d-sm-none flex-column justify-content-center " style="margin-top: 5%;">
          <div>
            <p style="font-family: Merriweather;
            font-size: 8vw;
            font-weight: 700;
            text-align: center;
            ">
              Follow Us!
            </p>
          </div>
          <div class="row d-flex flex-row align-items-center justify-content-center">

            <button class="btn btn-primary" style="
              height: 20vw;width: 20vw;
                    border-radius: 10px;
                    border: none;
                    background-color: #e9e6e0;
                    padding: 5%;
                  ">
              <img src="img/icons/instagram.png" alt="Image 1" class="img-fluid" style="height: 10vw;width: 10vw;"
                onclick="window.open('https://instagram.com/chief.of.stuff.inc?igshid=Mzc1MmZhNjY=', '_blank')" />
            </button>
            <button class="btn btn-primary" style="
              height: 20vw;width: 20vw;
                    border-radius: 10px;
                    border: none;
                    background-color: #e9e6e0;
                    padding: 5%;
                  ">
              <img src="img/icons/tiktok.png" alt="Image 2" class="img-fluid" style="height: 10vw;width: 10vw;"
                onclick="window.open('https://vm.tiktok.com/ZMYVFYEw6/', '_blank')" />
            </button>
            <button class="btn btn-primary" style="
              height: 20vw;width: 20vw;
                    border-radius: 10px;
                    border: none;
                    background-color: #e9e6e0;
                    padding: 5%;
                  ">
              <img src="img/icons/linkedIn.png" alt="Image 3" class="img-fluid" style="height: 10vw;width: 10vw;"
                onclick="window.open('https://www.linkedin.com/company/chief-of-stuff-inc', '_blank')" />
            </button>
          </div>
        </div>
      </div>
      <div class="column">
        <hr />
      </div>
      <div class="row d-block d-sm-none" style="margin-top: 4%; margin-bottom: 4%">
        <div class="col d-flex align-items-center justify-content-center">
          <p style="
                font-family: Inter;
                font-size: 4vw;
                font-weight: 500;
                color: #5c5c5c;
              ">
            © Chief Of Stuff 2023 - All rights reserved
          </p>
        </div>
      </div>
      <div class="row align-items-center" style="margin-top: 2%; margin-bottom: 4%">
        <div class="col d-none d-sm-block">
          <p style="
                font-family: Inter;
                font-size: 1vw;
                font-weight: 500;
                text-align: left;
                color: #5c5c5c;
              ">
            © Chief Of Stuff 2023 - All rights reserved
          </p>
        </div>

      </div>
    </div>

  </div>