

<div id="formField" class="container-fluid hidden-md-down " style="
          position: relative;
          display: flex;
          flex-direction: column;
          align-content: center;
          margin-top: 0;
          background: radial-gradient(50% 50% at 50% 50%, #FCCDBC 0%, #E9E6E0 100%),radial-gradient(circle at 95.23% 40%, rgba(237, 104, 56, 0.72) 0%, rgba(255, 204, 77, 0.72) 100%);
        ">
      <div class="row d-flex justify-content-center align-items-center ">
        <div class="col-md-3 d-block d-sm-none">
          <img src="img/images/comb.png" alt="your image" class="img-fluid" />
        </div>
        <div class="col-md-3 d-none d-sm-block" style="height: 70%">
          <img src="img/images/left.png" alt="your image" class="img-fluid" />
        </div>
        <div class="col-md-6 bg-image bg-position-bottom d-flex justify-content-center ">
          <div style="
                display: flex;
                flex-direction: column;
                justify-self: center;
                height: 100%;
                width: 100%;
              " class="text-center">
            <iframe src="components/bg_ellipse.html" frameborder="0" style="
                  position: fixed;
                  width: 100%;
                  height: 100%;
                  z-index: -1;
                "></iframe>
            <p class="d-flex d-block d-sm-none text-center mx-auto"
              style="font-family: Inter; font-weight: 300; font-size: 6vw;margin-bottom: 0%;">Your source for
            </p>

            <div id="myCarouselm" class="carousel slide carousel-vertical d-flex d-block d-sm-none"
              data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <p style="
                      font-family: Inter;
                      font-weight: 300;
                      font-size: 6vw;
                      
                    "><span id="changingWordm" style="
                        font-family: Merriweather;
                        font-weight: 700;
                        font-size: 6vw;
                        display: inline-block;
                        width: 42vw;
                      ">‘informative’</span> stuff</p>
                </div>
              </div>
            </div>

            <p class="d-none d-sm-block" style="font-family: Inter; font-weight: 300; font-size: 3vw">Your source for
            </p>

            <div id="myCarousel" class="carousel slide carousel-vertical d-none d-sm-block" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <p style="
                  font-family: Inter;
                  font-weight: 300;
                  font-size: 3vw;
                "><span id="changingWord" style="
                    font-family: Merriweather;
                    font-weight: 700;
                    font-size: 3vw;
                    display: inline-block;
                    width: 21vw;
                    
                  ">‘informative’</span> stuff</p>
                </div>
              </div>
            </div>

            <script>
              function changeWord() {
                var words = ["‘informative’", "‘interesting’", "‘innovative’", "‘inspirational’"];
                var currentIndex = 0;
                setInterval(function () {
                  var element = document.getElementById("changingWord");
                  element.style.opacity = 0;
                  setTimeout(function () {
                    element.textContent = words[currentIndex];
                    element.style.opacity = 1;
                  }, 500);
                  currentIndex++;
                  if (currentIndex == words.length) {
                    currentIndex = 0;
                  }
                }, 3000);
              }

              document.addEventListener("DOMContentLoaded", function (event) {
                changeWord();
              });



              function changeWordm() {
                var wordsm = ["‘informative’", "‘interesting’", "‘innovative’", "‘inspirational’"];
                var currentIndex = 0;
                setInterval(function () {
                  var element = document.getElementById("changingWordm");
                  element.style.opacity = 0;
                  setTimeout(function () {
                    element.textContent = wordsm[currentIndex];
                    element.style.opacity = 1;
                  }, 500);
                  currentIndex++;
                  if (currentIndex == wordsm.length) {
                    currentIndex = 0;
                  }
                }, 3000);
              }

              $(document).ready(function () { changeWordm(); });
            </script>
            <p class="d-block d-sm-none" style="
                  font-family: Inter;
                  font-weight: 400;
                  font-size: 4vw;
                  max-lines: 3;
                ">
              Whether it’s a cheeky fun fact, deep dive into emerging tech, or
              a profile about a changemaker -
              <span style="
                    font-family: Inter;
                    font-weight: 700;
                    font-size: 4vw;
                    max-lines: 3;
                  ">Chief of Stuff is the place to discover what’s new, novel, or
                next.</span>
            </p>


            <p class="d-flex d-none d-sm-block" style="
                  font-family: Inter;
                  font-weight: 400;
                  font-size: 1.5vw;
                  max-lines: 3;
                  padding-left: 3%;
                  padding-right: 3%;
                ">
              Whether it’s a cheeky fun fact, deep dive into emerging tech, or
              a profile about a changemaker -
              <span style="
                    font-family: Inter;
                    font-weight: 700;
                    font-size: 1.5vw;
                    max-lines: 3;
                  ">Chief of Stuff is the place to discover what’s new, novel, or
                next.</span>
            </p>


            <div class=" mx-auto" style="
                    display: flex;
                    flex-direction: column;
                    justify-self: center;
                    margin-top: 3%;
                  ">


              <div class="row d-flex justify-content-center align-content-center  mx-auto" style="width: 100%;">
                <div class="modal fade" id="myModal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                  aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content" style="  background-color: #E9E6E0;">
                      <div class="modal-header">
                        <button type="button" class="btn-close" id="closeBtn" data-bs-dismiss="modal" aria-label="Close"
                          onclick="
                      var modal = document.getElementById('myModal2');
                  modal.classList.remove('show');
                      "></button>
                      </div>
                      <div class="modal-body">
                        <div class="col">
                          <img class="img-fluid" src="img/images/dialog.png" alt="dialog img" />
                          <p class="text-center" style="
                          font-family: Inter;
                          font-weight: 500;
                          font-size: 5.5vw;
                          margin-top: 5%;
                          margin-bottom: 5%;
                        ">Check your <span style="
                          font-family: Merriweather;
                          font-weight: 900;
                          font-size: 5.5vw;
                        ">inbox</span> </p>
                          <p class="text-center" style="
                          font-family: Inter;
                          font-weight: 500;
                          font-size: 4vw;
                          margin-top:0 ;
                        ">Confirm your email, your curiosity is calling! </p>
                        </div>
                      </div>
                      <div class="modal-footer d-flex align-content-center justify-content-center mx-auto">
                        <div class="col-md-12 d-flex align-content-center text-center">
                          <button type="button" class="btn " id="okBtn" data-bs-dismiss="modal" style="border-radius: 16px;
                        padding: 5%;
                        padding-top: 2%;
                        padding-bottom: 2%;
                        background: #ED6838;
                        box-shadow: 0px 0px 12px rgba(251, 97, 42, 0.4);
                        border-radius: 16px;
                        border: none;
                        color: white;
                        font-size: 3.5vw;
                        font-weight: bold;
                        width: 70vw;
                        height: 15vw;
                        cursor: pointer;" data-bs-dismiss="modal" onclick="
                        var modal = document.getElementById('myModal2');
                        modal.classList.remove('show');
                        
                        document.location.reload(true);
                        
                        ">OK</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class=" mx-auto" id="custom-substack-embed"></div>
                <script>
                  window.CustomSubstackWidget = {
                    substackUrl: "thechiefofstuff.substack.com",
                    placeholder: "chief@email.com",
                    onsubmit: "",
                    theme: "custom",
                    colors: {
                      primary: "#FB612A",
                      input: "#FFFFFF",
                      email: "#000000",
                      text: "#FFFFFF",
                    }
                  };


                </script>
                <script src="https://substackapi.com/widget.js" async></script>


              </div>


              <div class="row d-flex justify-content-center align-content-center mx-auto" style="width: 100%;">
                <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                  aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="  background-color: #E9E6E0;">
                      <div class="modal-header">
                        <button type="button" class="btn-close" id="closeBtn" data-bs-dismiss="modal" aria-label="Close"
                          onclick="
                      var modal = document.getElementById('myModal');
                  modal.classList.remove('show');
                      "></button>
                      </div>
                      <div class="modal-body">
                        <div class="col-12 d-flex flex-column justify-content-center">
                          <img class="img-fluid" src="img/images/dialog.png" alt="dialog img"
                            style="width: 30vw;margin: auto;" />
                          <p class="text-center" style="
                          font-family: Inter;
                          font-weight: 200;
                          font-size: 2.5vw;
                        ">Check your <span style="
                          font-family: Merriweather;
                          font-weight: 900;
                          font-size: 2.5vw;
                        ">inbox</span> </p>
                          <p class="text-center" style="
                          font-family: Inter;
                          font-weight: 500;
                          font-size: 1.5vw;
                        ">Confirm your email, your curiosity is calling! </p>
                        </div>
                      </div>
                      <div class="modal-footer d-flex align-content-center justify-content-center mx-auto">
                        <div class="col-md-12 d-flex align-content-center text-center">
                          <button type="button" class="btn " id="okBtn" data-bs-dismiss="modal" style="border-radius: 16px;
                        padding: 5%;
                        padding-top: 2%;
                        padding-bottom: 2%;
                        background: #ED6838;
                        box-shadow: 0px 0px 12px rgba(251, 97, 42, 0.4);
                        border-radius: 16px;
                        border: none;
                        color: white;
                        font-size: 1.5vw;
                        font-weight: bold;
                        cursor: pointer;width: 30vw;height: 4vw;" data-bs-dismiss="modal" onclick="
                        var modal = document.getElementById('myModal');
                        modal.classList.remove('show');
                        document.location.reload(true);
                        
                        ">OK</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 justify-content-end align-content-end  d-none d-sm-block">
          <img src="img/images/right.png" alt="your image" class="img-fluid" style="height: 100%" />
        </div>
      </div>
    </div>
