<div class="container-fluid align-items-center" id="realContent"
    style="background-color: #ffffff; padding: 5%;padding-bottom: 0;">
    <h1 class="fw-bold d-none d-sm-block" style="
            font-family: Merriweather;
            font-size: 54px;
            text-align: left;
            padding-left: 2%;
          ">
      Real content, real voices
    </h1>
    <h1 class="fw-bold d-block d-sm-none" style="
    font-family: Merriweather;
    font-size: 36px;
    text-align: left;
    padding-left: 2%;
  ">
      Real content, real voices
    </h1>
    <p class="fs-5" style="
            font-family: Inter;
            font-size: 24px;
            font-weight: 400;
            text-align: left;
            padding-left: 2%;
          ">
      Hear what people have to say about Chief of Stuff
    </p>


    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="width: 100%;">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="8000">
          <div class="container-fluid" style="width: 100%; padding: 0%; margin-top: 5%; margin-bottom: 5%">
            <div class="row">
              <div class="col-md-4">
                <img src="img/images/car1.png" alt="your image" class="img-fluid rounded-3 p-5">
              </div>
              <div class="col-md-6 d-flex flex-column justify-content-center" style="justify-self: flex-start;">
                <h1 class="fw mb-0" style="
                    font-family: Merriweather;
                    font-size: 5em;
                    font-weight: 900;
                  ">“</h1>
                <h1 class="fw  d-block d-sm-none mb-0" style="
                    font-family: Inter;
                    font-size: 5vw;
                    font-weight: 500;
                    
                  ">Chief of Stuff is a breathe of fresh air for my inbox. I love it!</h1>
                <h1 class="fw d-none d-sm-block mb-0" style="
                    font-family: Inter;
                    font-size: 2.5vw;
                    font-weight: 500;
                    
                  ">Chief of Stuff is a breathe of fresh air for my inbox. I love it!</h1>
                <h1 class="fw mb-0" style="
                    font-family: Inter;
                    font-size: 1.5em;
                    font-weight: 400;
                    margin-top: 2%;
                  ">- Kaezel</h1>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item" data-bs-interval="8000">
          <div class="container-fluid" style="width: 100%; padding: 0%; margin-top: 5%; margin-bottom: 5%">
            <div class="row">
              <div class="col-md-4">
                <img src="img/images/car2.png" alt="your image" class="img-fluid rounded-3 p-5">
              </div>
              <div class="col-md-6 d-flex flex-column justify-content-center" style="justify-self: flex-start;">
                <h1 class="fw mb-0" style="
                    font-family: Merriweather;
                    font-size: 5em;
                    font-weight: 900;
                  ">“</h1>
                <h1 class="fw  d-block d-sm-none mb-0" style="
                    font-family: Inter;
                    font-size: 5vw;
                    font-weight: 500;
                    
                  ">Chief of Stuff is fantastic and the storytelling is excellent. Explaining a complicated tech
                  concept like NFTs to someone like me is no small feat - so thank you!</h1>
                <h1 class="fw d-none d-sm-block mb-0" style="
                      font-family: Inter;
                      font-size: 2.5vw;
                      font-weight: 500;
                      
                    ">Chief of Stuff is fantastic and the storytelling is excellent. Explaining a complicated tech
                  concept like NFTs to someone like me is no small feat - so thank you!</h1>
                <h1 class="fw mb-0" style="
                    font-family: Inter;
                    font-size: 1.5em;
                    font-weight: 400;
                    margin-top: 2%;
                  ">- Jessica</h1>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item" data-bs-interval="8000">
          <div class="container-fluid" style="width: 100%; padding: 0%; margin-top: 5%; margin-bottom: 5%">
            <div class="row">
              <div class="col-md-4">
                <img src="img/images/car3.png" alt="your image" class="img-fluid rounded-3 p-5">
              </div>
              <div class="col-md-6 d-flex flex-column justify-content-center" style="justify-self: flex-start;">
                <h1 class="fw mb-0" style="
                    font-family: Merriweather;
                    font-size: 5em;
                    font-weight: 900;
                  ">“</h1>
                <h1 class="fw d-block d-sm-none mb-0" style="
                  font-family: Inter;
                  font-size: 5vw;
                  font-weight: 500;
                  
                ">Thank you for tackling such an important topic!</h1>
                <h1 class="fw d-none d-sm-block mb-0" style="
                    font-family: Inter;
                    font-size: 2.5vw;
                    font-weight: 500;
                    
                  ">Thank you for tackling such an important topic!</h1>
                <h1 class="fw mb-0" style="
                    font-family: Inter;
                    font-size: 1.5em;
                    font-weight: 400;
                    margin-top: 2%;
                  ">- Lily</h1>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item" data-bs-interval="8000">
          <div class="container-fluid" style="width: 100%; padding: 0%; margin-top: 5%; margin-bottom: 5%">
            <div class="row">
              <div class="col-md-4">
                <img src="img/images/car4.png" alt="your image" class="img-fluid rounded-3 p-5">
              </div>
              <div class="col-md-6 d-flex flex-column justify-content-center" style="justify-self: flex-start;">
                <h1 class="fw mb-0" style="
                    font-family: Merriweather;
                    font-size: 5em;
                    font-weight: 900;
                  ">“</h1>
                <h1 class="fw d-block d-sm-none  mb-0" style="
                    font-family: Inter;
                    font-size: 5vw;
                    font-weight: 500;
                    
                  ">I love the variety and mix of topics that Chief of Stuff covers - it's always so interesting!</h1>
                <h1 class="fw d-none d-sm-block mb-0" style="
                    font-family: Inter;
                    font-size: 2.5vw;
                    font-weight: 500;
                    
                  ">I love the variety and mix of topics that Chief of Stuff covers - it's always so interesting!</h1>
                <h1 class="fw mb-0" style="
                    font-family: Inter;
                    font-size: 1.5em;
                    font-weight: 400;
                    margin-top: 2%;
                  ">- Matt</h1>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>


<script>
  console.log("hello");
</script>

  </div>